/* general */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #03120e;
  display: flex;
  justify-content: center;
  margin: 25px;
}

/* BADGE */
.badges {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  margin: 0.5rem 0.3rem;
}

.badge h1 {
  padding: 2px 12px;
  font-size: 20px;
}

/* BANNER */
.banner {
  max-width: 896px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  margin-block: 25px;
  border-radius: 6px;
}

.banner h1,
.banner p {
  font-size: 14px;
}

.banner p {
  margin-top: 8px;
}

/* CARD */
.card {
  background-color: #fff;
  max-width: 384px;
  min-height: 208px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding-inline: 24px;
  margin-top: 42px;
}

.card > h1 {
  color: #111827;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.card > p {
  color: #6b7280;
  text-align: center;
}

.card > span {
  position: absolute;
  top: -25px;
  border-radius: 6px;
}

.card > span .icon-style {
  height: 48px;
  width: 48px;
  padding: 12px;
}

/* TESTIMONIAL */

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-block: 80px;
}

.testimonial .blue-bg {
  display: flex;
  background-color: #2545b8;
  max-height: 400px;
  align-items: center;
}

.testimonial {
  max-width: 1300px;
  color: #fff;
}

.testimonial .content {
  margin-inline: 50px;
}

.testimonial .content > h1 {
  font-size: 1rem;
}

.testimonial .content > h2 {
  font-size: 1rem;
  font-weight: 400;
}

.testimonial .content > p {
  margin-block: 24px;
  font-size: 1.5rem;
}

.img-container {
  position: relative;
  height: 464px;
  min-width: 384px;
  overflow: hidden;
  border-radius: 12px;
  top: -18px;
  left: 32px;
  box-shadow: unset;
  margin-bottom: -40px;
}

.img-container img {
  position: absolute;
  top: -35px;
  border-radius: 12px;
}

@media screen and (min-width: 770px) and (max-width: 870px) {
  .testimonial .content > p {
    margin-block: 18px;
    font-size: 1.3rem;
  }
  .testimonial .content {
    margin-top: 0;
  }
}

@media screen and (max-width: 769px) {
  .testimonial .white-bg {
    min-height: 103px;
    min-width: 100%;
    background-color: #fff;
  }

  .testimonial .blue-bg {
    max-height: unset;
    flex-direction: column;
  }

  .img-container {
    height: 206px;
    min-width: 376px;
    top: -103px;
  }

  .img-container {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 20px 25px -5px;
    left: 0px;
    max-width: 100%;
  }

  .testimonial .content {
    margin-top: -30px;
    padding-bottom: 40px;
  }
}
